* {
  background-color: rgb(137, 99, 11);
  text-decoration: none;
  margin: none;
  padding: none;
  cursor: default;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  text-wrap: balance;
}

#book-shelf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
}

.books {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  border-radius: 0.5rem;
  width: 13rem;
  padding: 2rem;
  margin: 2rem;
}

.info {
  background-color: antiquewhite;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 2rem;
}

.info > * {
  background-color: antiquewhite;
  margin: 0.25rem;
}

.button {
  background-color: aquamarine;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0.5rem;
  border-radius: 1rem;
}

.button:hover {
  background-color: #ffffa4;
}

form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: #ffffa4;
}
